<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= image_tag "aboutmem.png", class: "about-mem" %>
  </body>
</html>