<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
  </head>
  <body>
    <a href= info_page ><%= image_tag 'aboutmem.png', class: 'about-mem' %></a>
  </body>
</html>