<html>
  <head>
  </head>
  <script>
    $(function() {
      $('.bookdrag').draggable({});
    });
  </script>
  <body>
    <a href= about ><%= image_tag 'about.png', class: 'about' %></a>
    <ul class="bookdrag">
      <%= image_tag 'book_two.png', class: 'book' %>
    </ul>
  </body>
</html>