<html>
  <head>
  </head>
  <body>
    <h1> User Specfic Listed Mems </h1>
    <br />
    <% @memories.each do |memory| %>
      <div>
        <h2><%= memory.id %></h2>
        <h2><%= memory.title %></h2>
        <br />
        <br />
      </div>
    <% end %>
  </body>
</html>
